<%= form_with scope: :dog, url: dogs_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :color %><br>
    <%= form.text_field :color %>
  </p>
  <p>
    <%= form.label :size %><br>
    <%= form.text_field :size %>
  </p>
  <p>
    <%= form.label :good_boy %><br>
    <%= form.check_box :good_boy %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
