<h1>Your dogs:</h1>

<% if @dogs&.any? %>
  <ul>
    <% @dogs.each do |dog| %>
      <li>
        <div><b>Name:</b> <span><%= dog.name %></span></div>
        <div><b>Color:</b> <span><%= dog.color %></span></div>
        <div><b>Size:</b> <span><%= dog.size %></span></div>
        <div><b>Is a good boy / girl?:</b> <span><%= dog.good_boy? ? "yes" : "no" %></span></div>
        <div>
          <%= link_to "Delete dog", dog_path(dog), method: :delete %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No dogs :(</p>
<% end %>

<footer>
  <%= link_to "Get dogs!", new_dog_path %>
</footer>
